
body.modal-open {
    overflow: hidden;
   
  }

  .cards h2{
    color: aliceblue;
    background:url(../Assets/Images/bg.jpg);
    text-align: center;
    margin: 10px;
    padding: 20px;
    letter-spacing: 6px;
    line-height: 2rem;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Poppins';
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -8px;
    background: url(../Assets/Images/bg.jpg);
    
  }
  
  .card {
    display: grid;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ccc; */
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    background: #022f34;
    
    box-shadow: 0 15px 0 5px #080e3a;
    transition: all 0.3s ease;

  }
  .card:hover{
    box-shadow: 0 15px 0 5px #033124;
    background:#075e68;
  }
  .card img{
    height: 110px;
    width: 100px;
    object-fit: contain;
    transition: all 0.3s ease-out;
  }
  .card img:hover{
    transform: scale(1.4);
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px); /* Adjust as needed for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: calc(100% - 20px); /* Adjust as needed for even smaller screens */
    }
  }
  
  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background-color:transparent rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    
  }
  
  .modal {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    height: 85%;
    width: 70%; 
    max-width: 800px; 
    overflow: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

  }
  
  .modal img {
    max-width: 90%;
    max-height: 60vh;
  }
  .modal p{
    color: rgb(2, 24, 44);
    font-size: 30px;
    text-align: center;
    background: #04cec0;
    padding: 5px;
    border-radius: 5px;
    margin-left: -25px;
    font-weight: 600;
    border: 2px solid;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    border: 2px solid aliceblue;
    padding:15px 20px;
    display: flex;
    align-items: center;justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    background: white;
    transition: all 0.3s ease;
  }
  .close-button:hover{
    background: aqua;
    transform: scale(1.2);
    border: none;
  }
  .close-button img{
    height: 20px;
  }
  